.area-cliente {
  color: #000;
}

.area-cliente:hover {
  color: #3d4093;
  text-decoration: none;
}

.button-blue {
  background-color: #3d4093;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.1;
}

.button-blue:hover {
  color: #eee;
}

.button-blue span {
  font-size: 20px;
  font-weight: bold;
}

.button-light-blue {
  background-color: #90bacf;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.1;
}

.button-light-blue:hover {
  color: #eee;
}

.button-light-blue span {
  font-size: 20px;
  font-weight: bold;
}

.navbar {
  padding: 0px;
}

.navbar .nav-item {
  font-size: 14px;
  font-weight: bold;
  color: #00415d;
}

.navbar-nav {
  padding-left: 100px;
  white-space: nowrap;
}

ul {
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 0 auto;
}

ul li {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

ul .dropdown-menu {
  background-color: #3d4093;
}

ul .dropdown-menu .dropdown-item {
  color: #fff;
  text-transform: initial;
}

ul .dropdown-menu .dropdown-item:hover {
  background-color: #0f0082;
}

.footer-links a {
  color: #555;
}

.footer-links a:hover {
  color: #000;
  text-decoration: none;
}

footer ul {
  list-style: circle !important;
  list-style-position: outside;
}

footer ul li {
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  color: #333;
}

footer ul li:hover {
  color: #000;
}

footer .button-light-white {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  line-height: 1.1;
}

footer .button-light-white span {
  font-size: 20px;
  font-weight: bold;
  float: left;
}

footer .button-light-white small {
  float: left;
}

footer .button-light-white .telefone {
  color: #3d4093;
}

div .text-primary {
  color: #3d4093 !important;
  font-size: 100px;
  text-align: left;
}

div .imp {
  font-size: 35px;
  text-align: left;
}

div p {
  font-size: 20px;
  text-align: left;
  line-height: 0.9;
}

.button-light-blue2 {
  background-color: #90bacf;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.1;
  transition: background-color 0.5s;
}

.button-light-blue2:hover {
  color: #fff;
  background-color: #3d4093;
  transition: background-color 0.5s;
}

.button-light-blue2 span {
  font-size: 20px;
  font-weight: bold;
}

.caminho {
  padding-top: 20px;
}

.titulo {
  color: #3d4093;
  font-weight: bolder;
  font-size: 30px;
  padding-top: 20px;
}

.sub-titulo {
  font-weight: lighter;
  font-size: 25px;
  color: #000;
}

.background-servicos {
  background-image: url("/images/unidades/background-unidades.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: top right;
}

.background-servicos .pesquisa {
  font-weight: lighter;
  font-size: 14px;
  color: #000;
  margin-left: 90px;
}

.background-servicos .searchbar {
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid #3d4093;
  width: 70%;
}

.background-servicos .search_input {
  color: #0f0082;
  border: none;
  background: none;
  padding-left: 10px;
  width: 90%;
  line-height: 40px;
}

.background-servicos .search_input:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.background-servicos .searchbar:hover {
  caret-color: #000;
}

.background-servicos .searchbar:hover > .search_icon {
  color: #3d4093;
}

.background-servicos .search_icon {
  height: 18px;
  width: 18px;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #3d4093;
  text-decoration: none;
}

.background-duvidas {
  background-image: url("/images/duvidas/background-duvidas.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: top right;
}

.background-depoimentos {
  background-image: url("/images/depoimentos/background-depoimentos.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: top right;
}

.background-noticias {
  background-image: url("/images/noticias/background-noticias.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: top right;
}

.background-noticias .pesquisa {
  font-weight: lighter;
  font-size: 14px;
  color: #000;
  margin-left: 90px;
}

.background-noticias .searchbar {
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid #3d4093;
  width: 70%;
}

.background-noticias .search_input {
  color: #0f0082;
  border: none;
  background: none;
  padding-left: 10px;
  width: 90%;
  line-height: 40px;
}

.background-noticias .search_input:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.background-noticias .searchbar:hover {
  caret-color: #000;
}

.background-noticias .searchbar:hover > .search_icon {
  color: #3d4093;
}

.background-noticias .search_icon {
  height: 18px;
  width: 18px;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #3d4093;
  text-decoration: none;
}

.background-unidades {
  background-image: url("/images/unidades/background-unidades.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: top right;
}

.background-contatos {
  background-image: url("/images/contatos/background-contatos.png");
  height: auto;
  background-repeat: no-repeat;
  background-position: top right;
}

.servicos-box {
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
}

.servicos-box-alt {
  margin-top: 20px;
  padding: 20px;
  padding-top: 1px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
}

.servicos-box-alt .translado-aereo {
  width: 80%;
}

.parceiros-box {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
}

.parceiros-page .card .card-button {
  display: none;
}

.parceiros-page .card:hover .card-title {
  display: none;
}

.parceiros-page .card:hover .card-button {
  display: block;
}

.noticias-box {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
}

.unidades-box {
  background-color: #fff;
  z-index: 10;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.51);
}

.unidades-box .text-uppercase {
  font-weight: bolder;
  font-size: 30px;
  color: #3d4093;
}

.unidades-box .card-body {
  padding: 1px;
  margin-top: 10px;
}

.unidades-box .card-title {
  position: relative;
  margin-top: -25px;
  margin-bottom: 0.75rem !important;
  margin-left: 0px;
  color: #3d4093;
}

.unidades-box .card-deck {
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.unidades-box .card {
  border: none;
}

.unidades-box .card-text {
  font-size: 14px;
  margin-bottom: 20px;
}

.unidades-box .btn {
  padding: 0;
  z-index: 1;
}

.unidades-box .btn-outline-info {
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
  color: #000;
  border: 1px solid #0f0082;
  text-transform: uppercase;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.unidades-box .btn-outline-info:hover {
  color: #fff;
  background-color: #0f0082;
}

.contatos-box {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.51);
}

@media (min-width: 320px) and (max-width: 425px) {
  .btn {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }
  .button-blue {
    padding-bottom: 27px;
    width: 100%;
    height: 100%;
  }
  .button-blue2 {
    background-color: #3d4093;
    color: #fff;
    margin-top: 50px;
    padding-bottom: 27px;
    width: 100%;
  }
  .send {
    padding-bottom: 27px;
    height: auto;
  }
  .button-light-blue {
    width: 100%;
    height: 100%;
  }
  .no-padmag {
    padding: 0px !important;
    margin: 0px !important;
  }
  .no-mgbtn {
    padding-left: 0px;
  }
  .button-blue span, .button-light-blue span {
    font-size: 16px;
  }
  .button-blue small, .button-light-blue small {
    font-size: 80%;
  }
  nav {
    position: relative;
  }
  .navbar-nav {
    padding-left: 0px;
  }
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }
  .carousel-item {
    width: 100%;
  }
  .carousel-caption {
    bottom: 0px;
  }
  .carousel-caption .imp, .carousel-caption .plan, .carousel-caption .osan {
    display: none;
  }
  div .osan {
    font-size: 60px;
  }
  div .imp {
    font-size: 23px;
  }
  div .plan {
    font-size: 17px;
  }
  div .button-light-blue2 {
    padding: 8px;
  }
  .noticias img {
    width: 101%;
  }
  .background-duvidas {
    background-image: none;
    height: auto;
  }
  .background-noticias {
    background-image: none;
    height: auto;
  }
  .background-noticias .searchbar {
    width: 100%;
  }
  .background-contatos {
    background-image: none;
    height: auto;
  }
  .data-noticias {
    margin-left: 0px;
  }
  .servicos .card-deck {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 0px;
  }
  .unidades .card-deck {
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .unidades-box .btn-outline-info {
    margin-left: 60%;
  }
  .slick-list {
    margin-left: 10px;
    margin-right: 10px;
  }
  .comentarios .slick-next, .comentarios .slick-prev {
    bottom: -50%;
  }
  .slick-slide img {
    display: none;
  }
  .plano-caption-sub {
    display: none;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .btn {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    border-radius: 0px;
  }
  .background-duvidas {
    background-image: none;
    height: auto;
  }
  .background-noticias {
    background-image: none;
    height: auto;
  }
  .background-noticias .searchbar {
    width: 100%;
  }
  .background-depoimentos {
    background-image: none;
    height: auto;
  }
  .background-unidades {
    background-image: none;
    height: auto;
  }
  .background-contatos {
    background-image: none;
    height: auto;
  }
  .background-servicos {
    background-image: none;
    height: auto;
  }
  .no-padmag {
    padding: 0px !important;
    margin: 0px !important;
  }
  .no-mgbtn {
    padding-left: 0px;
  }
  .button-blue span, .button-light-blue span {
    font-size: 16px;
  }
  .button-blue small, .button-light-blue small {
    font-size: 80%;
  }
  .button-light-blue {
    height: 100%;
  }
  .unidades-box .btn-outline-info {
    margin-left: 60%;
  }
  nav {
    position: relative;
  }
  .navbar-nav {
    padding-left: 0px;
  }
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }
  .carousel-item {
    width: 120%;
  }
  div .osan {
    font-size: 60px;
  }
  div .imp {
    font-size: 23px;
  }
  div .plan {
    font-size: 17px;
  }
  div .button-light-blue2 {
    padding: 8px;
  }
  .noticias img {
    width: 101%;
  }
  .servicos .card-deck {
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .servicos .card-title {
    margin-top: 0px;
    font-size: 23px;
  }
  .unidades .card-deck {
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .slick-list {
    margin-left: 10px;
    margin-right: 10px;
  }
  .comentarios .slick-next, .comentarios .slick-prev {
    bottom: -50%;
  }
  .slick-slide img {
    display: none;
  }
  .img-fluid {
    display: none;
  }
  .plano-caption {
    color: #3d4093;
  }
  .plano-caption-sub {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .carousel-caption {
    bottom: 0px;
  }
  .navbar-nav {
    padding-left: 0px;
  }
  .col-lg-1 {
    display: none;
  }
  .noticias img {
    width: 101%;
  }
  .servicos .card-deck {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .unidades .card-deck {
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .slick-list {
    margin-left: 10px;
    margin-right: 10px;
  }
  .comentarios .slick-next, .comentarios .slick-prev {
    bottom: -50%;
  }
  .slick-slide img {
    display: none;
  }
}

.img-osan {
  background-image: url("/images/banner.png");
}

.no-padmag {
  padding: 0px !important;
  margin: 0px !important;
}

.container-fluid {
  margin-left: none;
  margin-right: none;
  padding-right: 0px;
  padding-left: 0px;
}

.text-osan {
  color: #3d4093;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

body {
  background-color: #FFF;
}

.button-top {
  background-color: #0f0082;
  border-radius: 30px;
}

.bg-light {
  background-color: #FFF;
}

.button-blue2 {
  background-color: #3d4093;
  color: #fff;
  margin-top: 50px;
  padding-bottom: 27px;
  width: 100%;
}

ul li .nav-icon {
  padding-left: 5px;
  padding-right: 5px;
}

.titulo-cap {
  font-weight: bolder;
  font-size: 30px;
  color: #3d4093;
  text-transform: uppercase;
}

.subtitulo-cap {
  font-weight: lighter;
  font-size: 25px;
}

.img-fluid {
  width: 100%;
}

.comentarios .slick-prev {
  position: absolute;
  right: 51%;
  bottom: -60%;
  border-radius: 40px;
  padding: 0px;
  border: none;
  transition: opacity 0.3s;
}

.comentarios .slick-prev:hover {
  opacity: 0.5;
}

.comentarios .slick-next {
  position: absolute;
  left: 50%;
  bottom: -60%;
  border-radius: 40px;
  padding: 0px;
  border: none;
  transition: opacity 0.3s;
}

.comentarios .slick-next:hover {
  opacity: 0.5;
}

.comentarios .slick-next .slick-track {
  margin-left: 30px;
  margin-right: 30px;
}

.nome-familia {
  color: #3d4093;
}

.noticias {
  background-image: url("../images/noticias.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.noticias .text-uppercase {
  font-weight: bolder;
  font-size: 30px;
  color: #3d4093;
}

.noticias .noticias-caption {
  font-size: 20px;
  text-shadow: 0 0 3px #000000, 0 0 3px #000000;
  position: absolute;
  margin-top: -100px;
  margin-left: 20px;
}

.noticias img {
  filter: brightness(70%);
  transition: filter 0.3s;
}

.noticias img:hover {
  filter: brightness(100%);
  transition: filter 0.5s;
}

.servicos .card-body {
  padding: 0;
}

.servicos .card-deck {
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
}

.servicos .card {
  border: none;
}

.servicos .card-title {
  margin-top: 10px;
  margin-left: 0px !important;
  color: #3d4093;
  font-size: 18px;
}

.servicos .card-text {
  font-size: 16px;
}

.servicos .btn-outline-primary {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  border-radius: 20px;
  border: 2px solid #3d4093;
}

.servicos .btn-outline-primary:hover {
  background-color: #fff;
  border: 2px solid #e8f1f8;
}

.unidades .text-uppercase {
  font-weight: bolder;
  font-size: 30px;
  color: #3d4093;
}

.unidades .card {
  transition: opacity 0.3s;
  opacity: 0.8;
}

.unidades .card:hover {
  transition: opacity 0.3s;
  opacity: 1.0;
}

.unidades .card-body {
  padding: 0;
}

.unidades .card-title {
  position: relative;
  margin-top: -40px;
  margin-bottom: 2.75rem !important;
  margin-left: 20px;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.unidades .card-deck {
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
}

.unidades .card {
  border: none;
}

.text-planos {
  font-size: 15px;
}

.text-planos-list {
  font-size: 15px;
  line-height: 1.9;
}

.plano-caption {
  position: absolute;
  left: 90px;
  top: 80px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.plano-caption-sub {
  position: absolute;
  left: 150px;
  top: 130px;
  font-size: 30px;
  color: #fff;
}

.panel {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.12);
}

.panel .panel-heading {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.panel .panel-heading .icone-aberto {
  display: none;
}

.panel .panel-heading .icone-fechado {
  display: block;
}

.panel .panel-heading[aria-expanded="false"] .icone-aberto {
  display: none;
}

.panel .panel-heading[aria-expanded="false"] .icone-fechado {
  display: block;
}

.panel .panel-heading[aria-expanded="true"] .icone-aberto {
  display: block;
}

.panel .panel-heading[aria-expanded="true"] .icone-fechado {
  display: none;
}

.panel .panel-title {
  font-size: 22px;
  color: #3d4093;
}

.panel .panel-body p {
  margin-left: 20px;
  padding-bottom: 20px;
}

.nav-pages {
  margin-top: 50px;
}

.nav-pages .page-link {
  border: none;
}

.nav-pages .page-link:hover {
  background-color: #3d4093;
  color: white;
}

.nav-pages .page-link {
  border-radius: 30px !important;
}

.servicos-page .card-deck {
  margin-right: 0px !important;
  margin-bottom: 0 !important;
  margin-left: 0px !important;
}

.parceiros-page .card-group {
  margin-right: 10px !important;
  margin-bottom: 0 !important;
  margin-left: 10px !important;
}

.parceiros-page .card-img-top {
  width: 40%;
}

.new-noticias .card {
  border: none;
}

.new-noticias .btn {
  color: #0f0082;
  border: 2px solid #3d4093;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  line-height: 1.0;
  border-radius: .25rem;
  font-weight: bold;
}

.new-noticias .btn-outline-dark:hover {
  color: #fff;
  background-color: #0f0082;
}

.titulo-noticias {
  color: #3d4093;
  font-weight: bolder;
  font-size: 30px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 70px;
}

.data-noticias {
  margin-left: 180px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.veja-noticias .card {
  border: none;
}
