.footer-links{
    a{
        color: #555;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }
}

footer{
    ul{
        list-style: circle!important;
        list-style-position: outside;
        li{
            font-size: 12px;
            letter-spacing: 0.05em;
            line-height: 1.2em;
            color: #333;
            &:hover{
                color: #000;
            }
        }
    }
    .button-light-white{
        background-color: #fff;
        color: #000;
        text-transform: uppercase;
        line-height: 1.1;
            span{
                font-size: 20px;
                font-weight: bold;
                float: left;
            }
            small{
                float: left;
            }
            .telefone{
                color: $azul-padrao;
            }
    }  
}