// IMAGEM CAROUSEL
div{
    .text-primary{
        color: $azul-padrao!important;
        font-size: 100px;
        font-weight: 900;
        text-align: left;
    }
    .imp{
        font-size: 35px;
        text-align: left; 
    }
    p{
        font-size: 20px;
        text-align: left;
        line-height: 0.9;
    }
}
.img-fruid{
    overflow:hidden;
}

.button-light-blue2{
    background-color: #90bacf;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.1;
    transition: background-color 0.5s;
        &:hover{
            color: #fff;
            background-color: $azul-padrao;
            transition: background-color 0.5s;
        }
        span{
            font-size: 20px;
            font-weight: bold;
        }
}

// IMAGEM CAROUSEL

.button-top{
    background-color: $azul-botao;
    border-radius: $borda-arredondada;
}

.button-blue2{
    background-color: $azul-padrao;
    color: #fff;
    margin-top: 50px;
    padding-bottom: 27px;
    width: 100%;
}


// TITULOS E SUBTITULOS INDEX

.titulo-cap{
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: $azul-padrao;
    text-transform: uppercase;
}

.subtitulo-cap{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 25px;
}

// TITULOS E SUBTITULOS INDEX

// COMENTARIOS INDEX
.comentarios{
    .text-secondary{
        font-size: 14px;
    }
    .slick-prev{
        position: absolute;
        right: 51%;
        bottom: -70%;
        border-radius: 40px;
        padding: 0px;
        border: none;
        transition: opacity 0.3s;
        &:hover{
            opacity : 0.5;
        }
    }
    .slick-next{
        position: absolute;
        left: 50%;
        bottom: -70%;
        border-radius: 40px;
        padding: 0px;
        border: none;
        transition: opacity 0.3s;
        &:hover{
            opacity : 0.5;
        }
        .slick-track {
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 10px;
        }
        .slick-list{
            margin-bottom: 80px;
        }
    }
}
.nome-familia{
    color: $azul-padrao;
}

.depoimentos-padding{
    padding-top: 50px;
}

// COMENTARIOS INDEX

// NOTICIAS
.noticias{
    background-image: url('../images/noticias.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        .text-uppercase{
            font-weight: bolder;
            font-size: 30px;
            color: $azul-padrao;
        }
        .noticias-caption{
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            text-shadow: 0 0 3px #000000, 0 0 3px #000000;
            position: absolute;
            margin-top: -100px;
            margin-left: 20px;
        }
        img{
            filter: brightness(70%);
            transition: filter 0.3s;
            &:hover{
                filter: brightness(100%);
                transition: filter 0.5s; 
            }
        }
    }
// NOTICIAS


// SERVICOS

.servicos{
    .card-body{
        padding: 0;  
    }
    .card-deck{
        margin-right: 0px;
        margin-bottom: 0;
        margin-left: 0px;
    }
    .card{
        border: none;
    }
    .card-title{
        margin-top: 10px;
        margin-left: 0px!important;
        color: $azul-padrao;
        font-size: 18px;
        font-weight: 600;
    }
    .card-text{
        font-size: 14px;
        font-weight: 100;
    }            
    .btn-outline-primary{
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 8px;
        padding-right: 8px;
        font-weight: bold;
        font-size: 14px;
        margin-top: auto;
        color: #000;
        border-radius: 20px;
        border: 2px solid $azul-padrao;
        &:hover{
            background-color: #fff;
            border: 2px solid #e8f1f8;
        }
    }
}

// SERVICOS

// UNIDADES
.unidades{
    .text-uppercase{
        font-weight: bolder;
        font-size: 30px;
        color: $azul-padrao;
    }
    .card{
        transition: opacity 0.3s;
        opacity: 0.8;
        &:hover{
            transition: opacity 0.3s;
            opacity: 1.0;
        }
    }
    .card-body{
        padding: 0;  
    }
    .card-title{
        position: relative;
        margin-top: -40px;
        margin-bottom: 2.75rem!important;
        margin-left: 20px;
        color: #fff;
        font-weight: 700;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .card-deck{
        margin-right: 0px;
        margin-bottom: 0;
        margin-left: 0px;
    }
    .card{
        border: none;
    }
}
// UNIDADES


// FOOTER 

.footer-network, .footer-tel{
    margin-top: -30px;
}